@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

body {
  margin: 0;
  font-family: 'Kaisei Tokumin', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
